{% extends "base.html" %}


{% block head %}
    {{ super() }}
   
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/jquery-ui.css')}}">
{% endblock %}


{% block page_content %}

<div id="container" style="height: 400px; margin: auto; min-width: 310px; max-width: 600px"></div>
<script>
$(document).ready(function() {

  var url =  "http://localhost:8001/boxPlotCalc"
  $.getJSON(url, function(statsdata) {
        var arr = statsdata
        var listofStats = [];
        var listofCategories = [];
        for (var i = 0; i < arr.length; i++){
            var obj = arr[i];
            //console.log(obj["boxplotstats"])
            listofStats.push(obj["boxplotstats"])
            listofCategories.push(obj["TypeOfFlight"])
        }
        var chart = new  Highcharts.chart('container', {

    chart: {
      type: 'boxplot'
    },

    title: {
      text: 'Type of Flight vs Percentage of survivors'
    },

    legend: {
      enabled: true
    },

    xAxis: {
      categories: listofCategories,
      title: {
        text: 'Type of Flight'
      }
    },

    yAxis: {
      title: {
        text: 'Observations'
      }
      
    },

    series: [{
      name: 'Observations',
      data: listofStats,
      tooltip: {
        headerFormat: '<em> Tyoe of flight {point.key}</em><br/>'
      }
    }]

  });
    




    });

});
</script>
{% endblock %}